.body {
    color: #202020;
    font-family: "Museo", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 1440px;
    margin: auto;
    border-radius: 30px;
  }