.stack__list{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    margin: 32px 0;
}

@media all and (min-width: 320px) and (max-width: 768px) {
    .stack__list {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
  }