.welcome {
  display: flex;
  padding: 0 16px;
  height: 84vh;
  margin-bottom: 64px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .welcome{
    flex-direction: column;
    height: 100%;
    margin-bottom: 32px;
    gap: 24px;
  }
}