.welcome__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 50%;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .welcome__img-container{
    width: 100%;
  }
}