.dorpdown__list { 
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  visibility: hidden;
  opacity   : 0;
  transition: opacity 0.5s, visibility 0s ease;
}

.dorpdown__list li {
  all: unset;
}